@using RestoranTemp.Models;
@model List<Services>

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Our Services</h5>
            <h1 class="mb-5">Explore Our Services</h1>
        </div>
        <div class="row g-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                            <!--fa fa-3x fa-user-tie text-primary mb-4-->
                            <h5>@item.Title</h5>
                            <p>@item.Subtitle</p>
                        </div>
                    </div>
                </div>
            }
            
           
        </div>
    </div>
</div>
<!-- Service End -->
